# Proyek Analisis Data: [Bike Sharing Dataset]
- **Nama:** Muhammad Naufal Rahmatullah
- **Email:** mc253d5y0305@student.devacademy.id
- **ID Dicoding:** MC253D5Y0305

## Menentukan Pertanyaan Bisnis

- Untuk market mana bike sharing ini dan bagaimana potensinya?
- Bagaimana pengaruh cuaca terhadap perkembangan bike sharing yang mungkin menjadi pendukung atau bahkan tantangan terhadap potensi market yang telah ditemukan?

## Import Semua Packages/Library yang Digunakan

In [1]:
import streamlit as st
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
# matplotlib.use('module://matplotlib_inline.backend_inline')
# matplotlib.use('TkAgg')
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
fileDay = pd.read_csv(r"D:\ML Dicoding\latihanOlahData\Dashoard\day.csv")
fileHour = pd.read_csv(r"D:\ML Dicoding\latihanOlahData\Data\hour.csv")
print(fileDay)
print(fileHour)

     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1  2011-01-01       1   0     1        0        6           0
1          2  2011-01-02       1   0     1        0        0           0
2          3  2011-01-03       1   0     1        0        1           1
3          4  2011-01-04       1   0     1        0        2           1
4          5  2011-01-05       1   0     1        0        3           1
..       ...         ...     ...  ..   ...      ...      ...         ...
726      727  2012-12-27       1   1    12        0        4           1
727      728  2012-12-28       1   1    12        0        5           1
728      729  2012-12-29       1   1    12        0        6           0
729      730  2012-12-30       1   1    12        0        0           0
730      731  2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     331         654
1             2  0.363478  0.353739  0.696087   0.248539     131         670
2             1  0.196364  0.189405  0.437273   0.248309     120        1229
3             1  0.200000  0.212122  0.590435   0.160296     108        1454
4             1  0.226957  0.229270  0.436957   0.186900      82        1518
..          ...       ...       ...       ...        ...     ...         ...
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
727           2  0.253333  0.255046  0.590000   0.155471     644        2451
728           2  0.253333  0.242400  0.752917   0.124383     159        1182
729           1  0.255833  0.231700  0.483333   0.350754     364        1432
730           2  0.215833  0.223487  0.577500   0.154846     439        2290

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[731 rows x 16 columns]
       instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]

**Insight:**
- dari file Day, dapat dilihat ada 8 kolom mulai dari instant, date, season, year, month, dan lainnya.
- dari file Hour, dapat dilihat ada 7 kolom, mulai dari weathersit, temp, attemp, dan lain lain.

In [3]:
# plt.plot(fileDay['dteday'],fileDay['cnt'])

# plt.xticks(rotation=45)  
# plt.title("Total Pengguna Saat Libur")
# plt.xlabel("Tanggal")
# plt.ylabel("Jumlah Pengguna")
# plt.show()

### Assessing Data

Assess data file Day

In [4]:
fileDay.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

Dari sisi missing value, tidak ditemukan pada file tersebut.

In [5]:
fileDay.duplicated().sum()

np.int64(0)

Dari sisi data yang terduplikasi juga tidak ada.

Assess data Hours

In [6]:
fileHour.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [7]:
fileHour.duplicated().sum()

np.int64(0)

tidak ada juga terindikasi duplikasi data, jadi saya simpulkan data file dan hours bersih.

In [8]:
dfDay = pd.DataFrame(fileDay)
dfHour = pd.DataFrame(fileHour)
dfDay.info()
dfHour.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [9]:
dfDay['dteday'] = pd.to_datetime(dfDay['dteday'])
dfHour['dteday'] = pd.to_datetime(dfDay['dteday'])
print(fileDay)

     instant      dteday  season  yr  mnth  holiday  weekday  workingday  \
0          1  2011-01-01       1   0     1        0        6           0
1          2  2011-01-02       1   0     1        0        0           0
2          3  2011-01-03       1   0     1        0        1           1
3          4  2011-01-04       1   0     1        0        2           1
4          5  2011-01-05       1   0     1        0        3           1
..       ...         ...     ...  ..   ...      ...      ...         ...
726      727  2012-12-27       1   1    12        0        4           1
727      728  2012-12-28       1   1    12        0        5           1
728      729  2012-12-29       1   1    12        0        6           0
729      730  2012-12-30       1   1    12        0        0           0
730      731  2012-12-31       1   1    12        0        1           1

     weathersit      temp     atemp       hum  windspeed  casual  registered  \
0             2  0.344167  0.363625  0.805833   0.160446     331         654
1             2  0.363478  0.353739  0.696087   0.248539     131         670
2             1  0.196364  0.189405  0.437273   0.248309     120        1229
3             1  0.200000  0.212122  0.590435   0.160296     108        1454
4             1  0.226957  0.229270  0.436957   0.186900      82        1518
..          ...       ...       ...       ...        ...     ...         ...
726           2  0.254167  0.226642  0.652917   0.350133     247        1867
727           2  0.253333  0.255046  0.590000   0.155471     644        2451
728           2  0.253333  0.242400  0.752917   0.124383     159        1182
729           1  0.255833  0.231700  0.483333   0.350754     364        1432
730           2  0.215833  0.223487  0.577500   0.154846     439        2290

      cnt
0     985
1     801
2    1349
3    1562
4    1600
..    ...
726  2114
727  3095
728  1341
729  1796
730  2729

[731 rows x 16 columns]

In [10]:
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 5))
plt.plot(dfDay['dteday'], dfDay['cnt'], marker='o', linestyle='-', color='b')
plt.xlabel('Tanggal')
plt.ylabel('Jumlah Peminjaman')
plt.title('Tren Peminjaman Sepeda Harian')
plt.xticks(rotation=45)
plt.grid(True)
plt.show()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13908\3777497937.py:10: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [11]:
dfDay.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    datetime64[ns]
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(11)
memory usage: 91.5 KB

In [12]:
dfHour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-02,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-03,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-04,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-05,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [13]:
dfDay.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

**Insight:**
Setelah di cek saya tidak menemukan data yang terduplikasi ataupun missing value, namun terdapat ketidak sesuaian tipe data pada kolom dteday yang awalnya object menjadi datetime

In [14]:
merged_df = pd.merge(dfDay, dfHour[['dteday', 'hr']], on='dteday', how='inner')

merged_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,hr
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985,0
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,1
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,2
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,3
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,4

**Insight:**
Karena dari kedua tabel tersebut hanya ada satu perbedaan yaitu pada kolom hr pada dataframe hours, maka saya memutuskan untuk menyatukannya menjadi satu tabel.

### Cleaning Data

In [15]:
merged_df['mnth'] = merged_df['mnth'].map({
    1:'January',2:'February',3:'March',4:'April',5:'May',6:'June',7:'July',8:'August',9:'September',10:'September',11:'November',12:'December'
})

Memberikan Penamaan bulan, serta kondisi cuaca, musim

In [16]:
merged_df['season'] = merged_df['season'].map({
    1: 'Winter', 2: 'Spring', 3: 'Summer', 4: 'Fall'}).astype('category')

merged_df['weekday'] = merged_df['weekday'].map({
    0: 'Sunday', 1: 'Monday', 2: 'Tuesday', 3: 'Wednesday', 
    4: 'Thursday', 5: 'Friday', 6: 'Saturday'
}).astype('category')

merged_df['holiday'] = merged_df['holiday'].map({
    0: 'No', 1: 'Yes'
}).astype('category')

merged_df['workingday'] = merged_df['workingday'].map({
    0: 'No', 1: 'Yes'
}).astype('category')
merged_df['weathersit'] = merged_df['weathersit'].map({
    1: 'Clear', 2: 'Mist', 3: 'Light Rain/Snow', 4: 'Heavy Rain/Snow'
}).astype('category')

print(merged_df[['weekday', 'holiday', 'weathersit']].dtypes)

print(merged_df['season'].dtype)

weekday       category
holiday       category
weathersit    category
dtype: object
category

Lalu pemberian penamaan pada setiap tipe data pada kolom season, weekday, holiday, dan weathersit untuk mengirangi kebingungan.

In [17]:
merged_df = merged_df.drop(columns = ['hum','windspeed'])
merged_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,casual,registered,cnt,hr
0,1,2011-01-01,Winter,0,January,No,Saturday,No,Mist,0.344167,0.363625,331,654,985,0
1,2,2011-01-02,Winter,0,January,No,Sunday,No,Mist,0.363478,0.353739,131,670,801,1
2,3,2011-01-03,Winter,0,January,No,Monday,Yes,Clear,0.196364,0.189405,120,1229,1349,2
3,4,2011-01-04,Winter,0,January,No,Tuesday,Yes,Clear,0.200000,0.212122,108,1454,1562,3
4,5,2011-01-05,Winter,0,January,No,Wednesday,Yes,Clear,0.226957,0.229270,82,1518,1600,4

**Insight:**
Kegiatan cleaning drop kolom hum dan windspeed karena tidak berkaitan dengan pertanyaan bisnis

## Exploratory Data Analysis (EDA)

### Explore ...

In [18]:
dataHolidayUser = merged_df[merged_df['holiday'] == 'Yes'][['dteday', 'casual', 'registered']]
print(dataHolidayUser)

        dteday  casual  registered
16  2011-01-17     117         883
51  2011-02-21     195         912
104 2011-04-15     642        2484
149 2011-05-30    1549        2549
184 2011-07-04    3065        2978
247 2011-09-05    1236        2115
282 2011-10-10    1514        3603
314 2011-11-11     440        2928
327 2011-11-24     560         935
359 2011-12-26     430         887
366 2012-01-02     244        1707
380 2012-01-16     217        2081
415 2012-02-20     502        2627
471 2012-04-16    1198        5172
513 2012-05-28    2557        3486
550 2012-07-04    2562        4841
611 2012-09-03    1965        4069
646 2012-10-08     874        4604
681 2012-11-12    1097        5172
691 2012-11-22     955        1470
724 2012-12-25     440         573

In [19]:

dataHolidayUser['total_users'] = dataHolidayUser['casual'] + dataHolidayUser['registered']

totalHolidayUser = dataHolidayUser['total_users'].sum()

print("Total seluruh pengguna selama hari libur:", totalHolidayUser)

Total seluruh pengguna selama hari libur: 78435

dapat dilihat diatas tempo tertentu memiliki jumlah user diatas 1000, maka saya akan identifikasi dibulan apa saja.

In [20]:
dataWorkingdayUser = merged_df[merged_df['workingday'] == 'Yes'][['dteday', 'casual', 'registered']]
print(dataWorkingdayUser)

        dteday  casual  registered
2   2011-01-03     120        1229
3   2011-01-04     108        1454
4   2011-01-05      82        1518
5   2011-01-06      88        1518
6   2011-01-07     148        1362
..         ...     ...         ...
723 2012-12-24     174         746
725 2012-12-26       9         432
726 2012-12-27     247        1867
727 2012-12-28     644        2451
730 2012-12-31     439        2290

[500 rows x 3 columns]

In [21]:

dataWorkingdayUser['total_users'] = dataWorkingdayUser['casual'] + dataWorkingdayUser['registered']

totalWorkingUsers = dataWorkingdayUser['total_users'].sum()

print("Total seluruh pengguna selama hari kerja:", totalWorkingUsers)

Total seluruh pengguna selama hari kerja: 2292410

In [22]:
merged_df.groupby('mnth')[['cnt']].agg(['max', 'min', 'mean', 'sum']) \
     .sort_values(('cnt', 'mean'), ascending=False)

            cnt
            max   min         mean     sum
mnth
June       8120  3767  5772.366667  346342
August     7865  1115  5664.419355  351194
July       8173  3285  5563.677419  344948
September  8714    22  5478.221311  668343
May        8294  2633  5349.774194  331686
April      7460   795  4484.900000  269094
November   6852  1495  4247.183333  254831
March      8362   605  3692.258065  228920
December   6606   441  3403.806452  211036
February   5062  1005  2655.298246  151352
January    4521   431  2176.338710  134933

In [23]:
dataHolidayUser = merged_df[merged_df['holiday'] == 'Yes'][['dteday', 'casual', 'registered']]
dataHolidayUser['total_users'] = dataHolidayUser['casual'] + dataHolidayUser['registered']

Dari data diatas kita mengetahui bahwa bulan Juni adalah rata rata bulan yang paling tinggi User, dan Januari terendah.

dari data di atas kita dapat mengambil benang merah dimana trend user ini di bulan apa saja.

In [24]:
meanAllUsers = merged_df['cnt'].mean()
print("Rata-rata total pengguna:", meanAllUsers)

Rata-rata total pengguna: 4504.3488372093025

**Insight:**
- setelah melakukan pengumpulan data mengenai perbandingan saat user memakai bike disaat holiday atau working dapat disimpulkan saat holiday.
- setelah melakukan penghitungan rata rata dari seluruh jumlah user, dapat ditemukan jarak waktu kapan user akan memakai bike

## Visualization & Explanatory Analysis

### Pertanyaan 1: Untuk market mana bike sharing ini dan bagaimana potensinya?

In [25]:
# Mengambil data bulan dan jumlah peminjaman
bulan = merged_df['mnth']  # Sekarang sudah dalam bentuk nama bulan
count = merged_df['cnt']

# Mengelompokkan data berdasarkan bulan
jumlah_per_bulan = merged_df.groupby('mnth')['cnt'].sum()

# Membuat diagram batang
plt.figure(figsize=(10, 5))
plt.bar(jumlah_per_bulan.index, jumlah_per_bulan.values, color='skyblue', edgecolor='black')

# Mengatur label dan judul
plt.xlabel('Bulan')
plt.ylabel('Jumlah Peminjaman')
plt.title('Jumlah Peminjaman Sepeda per Bulan')
plt.xticks(rotation=45)  # Memutar label agar lebih rapi
plt.grid(axis='y', linestyle='--', alpha=0.7)

# Menampilkan grafik
plt.show()

C:\Users\ASUS\AppData\Local\Temp\ipykernel_13908\4215463636.py:20: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

### Pertanyaan 2: Bagaimana pengaruh cuaca terhadap perkembangan bike sharing yang mungkin menjadi pendukung atau bahkan tantangan terhadap potensi market yang telah ditemukan?

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2